# Copy file ini ke .env untuk development LOKAL saja.
# Di Railway, set variable ini di Dashboard → Variables.
# JANGAN PERNAH commit file .env asli ke git!

BOT_TOKEN=8656505461:AAF6y0byqqHIafGzO4G_u3rbK2U_NiC0Sjo
ENABLE_KEEP_ALIVE=0
